/tks/dist/
/Demo/WebApplication1/nbproject/private/
/Demo/WebApplication1/build/
/Demo/SE1626-JDBC-Demo/nbproject/private/
/Demo/SE1626-JDBC-Demo/build/
/BackEnd/KiemTra_test/build/
/BackEnd/KiemTra_test/nbproject/private/
/BackEnd/KiemTraWeb/nbproject/private/
/BackEnd/KiemTraWeb/build/
/THWEB311/build/
/THWEB311/nbproject/private/
