

/*First-text--------------------------------------------------*/
.about-us-child {
    position: absolute;
    top: 0;
    left: calc(50% - 756px);
    background-color: var(--color-white);
    width: 1512px;
    height: 2740px
}

.about-us-item {
    position: absolute;
    top: 700px;
    left: calc(50% - 550px);
    background-color: #e7e7e7;
    width: 1100px;
    height: 1126px;
    display: none
}

.mask-group-icon {
    position: absolute;
    top: 164px;
    left: calc(50% + 80px);
    width: 470px;
    height: 600px;
    object-fit: cover
}

.about-us-inner {
    position: absolute;
    top: 35px;
    left: 206px;
    background-color: var(--color-white);
    width: 167px;
    height: 50px
}

.sustainability-inclusivity {
    position: absolute;
    width: 561px;
    font-weight: 500
}

.in-a-world {
    margin: 0
}

.in-a-world-container {
    position: absolute;
    left: 0;
    top: 80px;
    font-size: 18px;
    font-family: var(--font-montserrat);
    color: #2d2d2d;
    text-align: justify;
    display: inline-block;
    width: 560px;
    line-height: 21.94px
}

.sustainability-inclusivity-parent {
    position: absolute;
    top: 164px;
    left: 206px;
    width: 560px;
    height: 468px
}


/*Duong-gach-ngang-mau-gi-do-------------------------------------*/
.group-child,
.k {
    position: absolute;
    top: 0
}

.group-child {
    left: 0;
    background-color: rgba(255, 168, 161, .3);
    width: 1512px;
    height: 100px
}

.k {
    left: 38px;
    font-weight: 800
}

.happy-customers {
    position: absolute;
    top: 37px;
    left: 0;
    font-size: var(--font-size-base);
    color: var(--color-lightpink-100)
}

.k-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 57px;
    text-align: justify
}

.div {
    left: 49px;
    font-weight: 800
}

.div,
.div1,
.parent {
    position: absolute;
    top: 0
}

.parent {
    left: 364px;
    width: 141px;
    height: 57px
}

.div1 {
    left: 115px;
    font-weight: 800
}

.group,
.group-parent {
    position: absolute;
    top: 0;
    left: 665px;
    width: 266px;
    height: 57px
}

.group-parent {
    top: 21px;
    left: 322px;
    width: 931px
}

.rectangle-parent {
    position: absolute;
    top: 828px;
    left: 0;
    width: 1512px;
    height: 100px;
    text-align: center;
    color: var(--color-darkslategray-200);
    font-family: var(--font-montserrat)
}

/*Image------------------------------------------------------*/
.mask-group-icon1,
.mask-group-icon2 {
    position: absolute;
    top: 992px;
    left: calc(50% - 550px);
    width: 470px;
    height: 600px;
    object-fit: cover
}

.mask-group-icon2 {
    top: 1656px;
    left: calc(50% + 80px)
}


/*Text-----------------------------------------------------------*/

.only-produce-made-to-order {
    margin-bottom: 0
}

.only-produce-made-to-order-gar {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xl)
}

.garment-production-our-container {
    position: absolute;
    top: 84px;
    left: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-montserrat);
    color: var(--color-darkslategray-200);
    text-align: justify;
    display: inline-block;
    width: 560px
}

.so-what-exactly-do-we-do-ethic-parent {
    position: absolute;
    top: 992px;
    left: 746px;
    width: 560px;
    height: 604px;
    font-size: 24px
}

.i-wanted-to-container {
    position: absolute;
    top: 84px;
    left: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-montserrat);
    color: #2d2d2d;
    text-align: justify;
    display: inline-block;
    width: 560px
}

.founder-text {
    text-align: right
}

.a-note-from-our-founder-parent {
    position: absolute;
    top: 1656px;
    left: 206px;
    width: 560px;
    height: 210px
}




/*footer------------------------------------------------------*/

.footer {
    position: absolute;
    top: 2320px;
    left: 0;
    width: 1512px;
    height: 420px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-montserrat)
}

.footer-child,
.footer-item {
    position: absolute;
    height: 71.43%;
    width: 100%;
    top: 28.57%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-darkslategray-100)
}

.footer-item {
    height: 28.57%;
    top: 0;
    bottom: 71.43%;
    background-color: var(--color-snow-100)
}

.group-item {
    position: absolute;
    height: 50%;
    width: 32.45%;
    top: 0;
    right: 34.22%;
    bottom: 50%;
    left: 33.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover
}

.free-shipping,
.group-div {
    position: absolute;
    top: 66.67%;
    left: 0
}

.group-div {
    height: 60%;
    width: 11.67%;
    top: 0;
    right: 88.33%;
    bottom: 40%;
    text-align: right
}

.group-inner {
    position: absolute;
    height: 30%;
    width: 26.32%;
    top: 0;
    right: 38.14%;
    bottom: 70%;
    left: 35.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover
}

.easy-returns-container {
    position: absolute;
    top: 40%;
    left: 0
}

.group-child1,
.group-parent1 {
    position: absolute;
    height: 100%;
    width: 11.78%;
    top: 0;
    right: 58.57%;
    bottom: 0;
    left: 29.65%
}

.group-child1 {
    height: 37.5%;
    width: 27.51%;
    right: 36.25%;
    bottom: 62.5%;
    left: 36.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover
}

.quality-safe-container {
    position: absolute;
    top: 50%;
    left: 0
}

.group-parent2,
.vector-icon {
    position: absolute;
    height: 80%;
    width: 11.26%;
    top: 0;
    right: 29.34%;
    bottom: 20%;
    left: 59.4%
}

.vector-icon {
    height: 37.5%;
    width: 30.39%;
    right: 35.29%;
    bottom: 62.5%;
    left: 34.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover
}

.group-container,
.vector-parent {
    position: absolute;
    height: 80%;
    width: 10.54%;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 89.46%
}

.group-container {
    height: 23.81%;
    width: 64.02%;
    top: 4.76%;
    right: 18.12%;
    bottom: 71.43%;
    left: 17.86%;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray-100)
}

.group-icon {
    height: 18.89%;
    width: 37.04%;
    top: 210.85%;
    right: 49.34%;
    bottom: -129.74%;
    left: 13.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    display: none
}

/* footer infomation ---------------------------------------------------*/
.helpful-links {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500
}

.delivery-and-returns,
.help-faq {
    position: absolute;
    top: 26.92%;
    left: 0
}

.help-faq {
    top: 53.85%
}

.about-us-parent,
.service-for-professionals {
    position: absolute;
    top: 80.77%;
    left: 0
}

.about-us-parent {
    height: 61.9%;
    width: 100%;
    top: 38.1%;
    right: 0;
    bottom: 0;
    font-size: var(--font-size-base)
}

.helpful-links-parent {
    position: absolute;
    height: 40%;
    width: 14.55%;
    top: 38.57%;
    right: 71.83%;
    bottom: 21.43%;
    left: 13.62%
}

.amourcogmailcom,
.xxx-xx-xxx {
    position: absolute;
    top: 0;
    left: 0
}

.amourcogmailcom {
    top: 27.72%
}

.group-child2 {
    position: absolute;
    height: 96.43%;
    width: 24.59%;
    top: 0;
    right: 75.41%;
    bottom: 3.57%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover
}

.group-child2 {
    height: 100%;
    width: 45.9%;
    right: 0;
    bottom: 0;
    left: 54.1%
}

.vector-group,
.xxx-xx-xxx-parent {
    position: absolute;
    height: 27.72%;
    width: 31.44%;
    top: 72.28%;
    right: 68.56%;
    bottom: 0;
    left: 0
}

.xxx-xx-xxx-parent {
    height: 61.21%;
    width: 100%;
    top: 38.79%;
    right: 0;
    font-size: var(--font-size-base)
}

.contact-info-parent { 
    position: absolute;
    height: 39.29%;
    width: 12.83%;
    top: 38.57%;
    right: 53.7%;
    bottom: 22.14%;
    left: 33.47%
}




/*header--------------------------------------------------------*/

.header-child {
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05)
}

.header-child{
    position: absolute;
    width: 100%;
}

.about-us2 {
    font-weight: 600;
    color: var(--color-darkslategray-100)
}
.rectangle-group {
    position: absolute;
    height: 316.67%;
    width: 32.89%;
    top: -162.5%;
    right: 36.05%;
    bottom: -54.17%;
    left: 31.05%
}

.home {
    position: absolute;
    width: 125px;
    height: 24px;
    padding: 10px;
    border: 1px #2d2d2d;
    box-sizing: border-box;
}

.about-us2 {
    box-sizing: border-box;
    position: absolute;
    width: 125px;
    padding: 10px;
    border: 1px #2d2d2d;
    
}

.shopping {
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    width: 125px;
    padding: 10px;
    border: 1px #2d2d2d;
    
}

.group-icon1 {
    box-sizing: border-box;
    position: absolute;
    top: -125%; 
    right: 192.63%;
    bottom: 19.38%;
    left: -131.84%;
    width: 149px;
    padding: 10px;
    
}

.content-header {
    position: absolute;
    height: 24%;
    right: 31.88%;
    bottom: 13%;
    left: 42.99%
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: calc(1512px * 100vw / 1100);
    height: 100px;
    font-size: var(--font-size-xl);
    color: var(--color-darkslategray-300);
    font-family: var(--font-montserrat)
}

.about-us-child1,
.search-icon {
    position: absolute;
    top: 57px;
    left: 1123px;
    width: 240px;
    height: 30px;
    object-fit: cover
}

.about-us-child1 {
    top: 842px;
    left: 1372px;
    width: 90px;
    height: 90px
}

.about-us {
    position: relative;
    background-color: #fffafb;
    width: 100%;
    height: 982px;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-darkslategray-100);
    font-family: var(--font-beautique-display)
}
