body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    
}
h1 body{
    color: rgb(0, 0, 0);
}

button{
    background-color: rgb(0, 162, 191);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 20px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif, Courier, monospace;
}
.x{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(219, 219, 219);
    height: 50px;
    width: 400px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.x img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.x p{
    margin-left: 20px;
}