.section-1{
    padding: 60px 0;
}
.section-1 .inner-name{
    background: #FFF;
}
.section-1 .inner-wrap{
    background-color: #FFF;
    display: flex;
    padding: 50px 30px;
}
.section-1 .inner-image{
    margin-right: 20px;
    margin-bottom: 40px;
}
.section-1 .inner-image img{
    width: 100%;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}
.section-1 .inner-image img:hover{
    transform: scale(1.1);
    transition: all 0.4 ease-in-out;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}
.section-1 .imgChange{
    display: flex;
    width: 105px;
    height: 105px;
}
.section-1 .imgChange img{
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: 5px;
}
.section-1 .inner-price h3{
    color: var(--color-3);
}
.section-1 .inner-price p{
    font-size: 14px;
}
.section-1 .inner-gif{
    margin: 25px 0;
    display: inline-block;
    padding: 30px 15px 15px 15px;
    border: 1px solid var(--color-2);
    border-radius: 10px;
    position: relative;
}
.section-1 .inner-gif p{
    margin: 0;
    font-size: 14px;
}
.section-1 .inner-gif .inner-title{
    position: absolute;
    top:-18px;
    border: 1px solid #DDD;
    color: #FFF;
    background: var(--color-2);
    padding: 5px 10px;
    border-radius: 15px;
}
.section-1 .inner-wrap .btn-cart{
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    background: var(--color-2);
    border-radius: 5px;
}
table,tr,td{
    border: 1px solid #DDD;
    padding: 5px;
    font-size: 11px;
}

