.section-1{
    padding: 60px 0;
    background: #F2F2FE;
    margin: 0;
    border-bottom: 1px solid #DDD;
}
.section-1 .inner-name{
    background: #FFF;
}
table, tr, th, td{
    border: 1px solid #DDD;
    padding: 15px;
    font-size: 18px; 
    background: #FFF;
}
table{
    border-radius: 10px;
}
.section-2{
    background: #F2F2FE;
    padding: 50px 0;
    margin-top: 0;
}
.section-2 .inner-info{
    border: 1.5px solid #DDD;
    padding: 20px 35px;
    background: #FFF;
    border-radius: 10px;
}
.section-2 .inner-info h3{
    font-size: 20px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 15px;
}
.section-2 .inner-info span{
    font-size: 16px;
    color: black;
}
.section-2 .inner-info input{
    font-size: 15px;
    width: 550px;
    height: 35px;
    border-radius: 5px;
    border: 1.4px solid #ddd;
    outline: none;
    margin-bottom: 10px;
    margin-top: 0;
}
.section-2 .inner-ok{
    border: 1.5px solid #DDD;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
}
.section-2 .inner-ok textarea{
    margin-bottom: 30px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    border: 1px solid #DDD;
}
.section-2 .inner-ok h3{
    font-size: 20px;
}
.section-2 .inner-ok a{
    text-decoration: none;
    background-color: #2b80dd;;
    color: #FFF;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 5px;
}